<div class="w-full   border-r flex flex-col flex-grow h-screen">
    <div class="w-[90%] flex flex-col mx-auto flex-grow">
        <div class="h-44  flex w-full mx-auto border-b">
            <ul class="space-y-6  list-none flex flex-col md:text-[1rem] tex-base h-[75%] self-center w-[90%] mx-auto text-gray-400 ">
                <li >
                    <a routerLink="/user/home" class="hover:text-customBlue flex gap-3 items-center " routerLinkActive="activeLink">
                        <mat-icon aria-hidden="false"  fontIcon="home"></mat-icon>
                        <span class="">Home</span>
                    </a>
                </li>
                <li  >
                    <a routerLink="/user/recent" class="hover:text-customBlue flex gap-3 items-center" routerLinkActive="activeLink">
                        <mat-icon aria-hidden="false"  fontIcon="history" ></mat-icon>
                        <span class="">Recent</span>
                    </a>
                </li>
                <li>
                    <a routerLink="/user/stared" class="hover:text-customBlue flex gap-3 items-center" routerLinkActive="activeLink">
                        <mat-icon aria-hidden="false"  fontIcon="stars" ></mat-icon>
                        <span class="">Stared</span>
                    </a>  
                </li>
            </ul>
        </div>
        <div class="flex-grow flex-col w-full mx-auto mt-4 " >
            <div class=" mx-auto w-[90%] flex items-center h-12 justify-between  text-gray-400">
                <h3 class="font-bold">WorkSpaces</h3>
                <button (click)="openDialogue()" class="mt-3">
                    <i class="fa-regular fa-square-plus text-lg pb-2"></i>
                </button>
            </div>
            <ul class="space-y-6  list-none flex flex-col  w-[90%] mx-auto text-black  ">
                <li *ngFor="let workspace of workspaces"  >
                    <a routerLink="['/workspace', workspace._id]" class="hover:text-customBlue flex gap-2 ">
                        <mat-icon aria-hidden="false"  fontIcon="radio_button_checked" class="text-red-900 text-base" ></mat-icon>
                       <span class="">{{workspace.workspaceName}}</span>
                    </a>
                </li>
            </ul>
        </div>

  </div>
</div>