.scrolled{
    /* border-bottom: 1px solid #ccc; */
    box-shadow: 0 2px 20px rgba(74, 72, 72, 0.1);
    background-color: #fff;
}
.underline-hover {
    
    background-image: linear-gradient(transparent, transparent), linear-gradient(#000000, #000000); /* Set background gradient (blue in this case) */
    background-size: 0 4px; 
    background-position: 0 100%; 
    background-repeat: no-repeat;
    transition: background-size .3s ease-in-out; 
  }
  
  .underline-hover:hover {
    background-size: 100% 2px; 
  }