<div class="bg-gray-50 flex items-center justify-center min-h-screen  w-full">

    <!-- Background Images -->
    <div class="hidden md:block absolute bottom-0 left-0">
        <img src="../../../../assets/images/default_left.dfc31853.svg" alt="Left Illustration" class="h-72">
      </div>
      <div class="hidden md:block absolute bottom-0 right-0">
        <img src="../../../../assets/images/default_right.a801c0cc.svg" alt="Right Illustration" class="h-72">
      </div>
  
    <!-- Login Form -->
    <div class="w-full max-w-md bg-white p-8 rounded-lg shadow-xl">
      <div class="flex justify-center mb-4 items-center">
        <a routerLink="/" class="flex items-center ">
          <i class="fa-brands fa-teamspeak   mr-2 font-black text-center md:text-3xl text-xl"></i>
          <span class="font-bold md:text-2xl  text-xl">TeamSync</span>
        </a>
      </div>
        <router-outlet></router-outlet>
  
      <div class="mt-8 text-center">
        <p class="text-xs text-gray-600">Unified Access for All Your Team's Tools.</p>
        <p class="text-xs text-gray-600"><span><a href="" class="hover:underline">Privacy Policy</a></span>. <span><a href="" class="hover:underline">User Notice</a></span></p>
      </div>
    </div>
  
  </div>