
<h2 class="text-lg  text-center mb-6 text-customBlue ml-2 ">Can't log in</h2>
  
<form>
  <div class="mb-4">
    <label for="email" class="block text-sm font-medium text-gray-700"> We'll send a recovery link to</label>
    <input type="email" id="email" class="mt-1 block w-full p-3 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500" placeholder="Enter your email">
  </div>
  <button type="submit" class="w-full py-3 bg-blue-500 text-white font-semibold rounded-md hover:bg-blue-600">Send recovery link</button>
</form>

<div class="mt-6 text-center ">
  <a routerLink="/auth/login" class="text-sm text-blue-600 hover:underline">Return to log in</a>
</div>
