<div class="bg-gradient-to-r from-purple-500 to-indigo-500 text-white p-4 rounded-lg shadow-md flex justify-between items-center">
    <div>
        <h2 class="text-xl font-semibold mb-2 ">{{title}}</h2>
        <p class="">{{content}}</p>
    </div>
    <div class="ml-4 mt-9">
        <button  class="focus:outline-none">
            <mat-icon  class="text-yellow-500">star</mat-icon>
            <ng-template >
                <mat-icon class="text-gray-400">star_border</mat-icon>
            </ng-template>
        </button>
    </div>
</div>

    