<div class="hero md:h-[50rem] lg:h-[70rem h-[105rem] ">
    <div class="w-full flex-col gap-20 mx-auto">
      <div class="md:w-[65%] w-[90%] m-auto h-full flex flex-col justify-center items-center text-center gap-5 leading-6">
        <h1 class="text-customBlue  md:text-lg text-base font-medium">TEAM COLLABORATION</h1>
        <h1 class="font-semibold md:text-3xl  lg:text-4xl xl:text-6xl text-2xl">The All-In-One Collaboration Platform For Your Team</h1>
        <p class="text-gray-400 md:text-xl text-sm">
          Team sync helps you organize complex work across teams to <br>
          drive buisness outcomes
        </p>
      </div>
      <div class="container mx-auto py-12">
        <div class="grid grid-cols-1 md:grid-cols-3 gap-8 md:w-[70%] mx-auto w-[60%]">
          <!-- Cards -->
          <div class="card p-2 bg-white rounded-[2rem] border border-solid h-[26rem] " *ngFor="let card of cards" pAnimateOnScroll enterClass="fadein" leaveClass="fadeout">
            <div class="card rounded-[1.6rem] border border-solid h-[25rem] flex flex-col justify-center">
              <div class="mb-4">
                <img src="{{card.image}}" alt="Card Image 1" class=" rounded-t-[1.6rem] ">
              </div>
              <h3 class="text-2xl font-semibold mb-2 px-5">{{card.heading}}</h3>
              <p class="text-gray-600-xl text-gray-400 text-lg px-5 pb-3">{{card.description}}.</p>
            </div>
          </div> 
        </div>
      </div>
    </div>
  </div>