
<h2 class="text-lg  text-center mb-6 text-customBlue ml-2 ">Choose a new password</h2>
  
<form>
    <div class="relative w-full mb-4">
        <div class="absolute inset-y-0 right-0 flex items-center px-2 ">
            <button
            type="button"
            (click)="passwordVisibility()"
            class="focus:outline-none"
             >
             <i [ngClass]="passwordFieldType === 'password' ? 'fa-regular fa-eye' : 'fa-solid fa-eye'"></i>
          </button>
        </div>
        <input type={{passwordFieldType}} id="password" class="mt-1 block w-full p-3 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500" placeholder="Enter your password"> 
      </div>
      
  <button type="submit" class="w-full py-3 bg-blue-500 text-white font-semibold rounded-md hover:bg-blue-600">Continue</button>
</form>
