<div class="w-[98%] mx-auto">
    <div class="bg-white p-6 border-b mb-4 flex justify-between items-center">
        <!-- Left Section -->
        <div>
            <!-- Breadcrumbs -->
            <nav class="text-gray-500 text-sm mb-2">
                <span>Workspace</span> / <span>{{workspace?.workspaceName}}</span>
            </nav>
            <!-- Title -->
            <h1 class="text-3xl font-bold text-gray-900">{{workspace?.workspaceName}}</h1>
            <!-- User Avatars and Filter Button -->
            <div class="flex items-center mt-4">
                <!-- Avatars -->
                <div class="flex -space-x-2">
                    <ng-container *ngFor="let user of  workspace?.members ; let i = index">
                        <img class="w-8 h-8 rounded-full border-2 border-white" src="" alt="User 1" *ngIf="i<3">
                    </ng-container>
                    <div *ngIf="members.length > 4" class="w-8 h-8 rounded-full border-2 border-white bg-gray-400 flex items-center justify-center text-sm font-medium text-white">
                        +{{  members.length - 4 }}
                      </div>
                </div>
            </div>
        </div>
        <!-- Right Section -->
        <div class="flex space-x-4">
            <button class="bg-white border border-gray-300 px-2  rounded-md shadow-sm">
                <i class="fa-regular fa-star text-gray-400"></i>
            </button>
            <button class=" border border-gray-300 p-2 rounded-md shadow-sm text-white bg-customBlue">
               <span class="md:inline hidden">InviteMembers </span>  <span> <i class="fa-solid fa-plus"></i></span>
            </button>
            
        </div>
    </div>
    <div>
        <h2 class="text-2xl font-bold mb-4">Boards</h2>
        <div class="flex flex-wrap justify-between mb-4">
            <div>
                <label for="search" class="block text-sm font-medium text-gray-700">Search</label>
            <input type="text" [(ngModel)]="searchTerm"  id="search" class="mt-1 block w-full text-black py-2 px-3 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm" placeholder="Search boards">
            </div>
        </div>
    
        <!-- Board Cards -->
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4">
            <div class="bg-white p-6 rounded-lg shadow-md flex items-center justify-center text-gray-500 cursor-pointer" (click)="openDialogue()">
                Create new board
            </div>
            <div
            [ngStyle]="getBgstyle(board.background)"
             class="relative  p-6 rounded-lg shadow-md text-gray-500 flex justify-between items-center" *ngFor="let board of filterdBoards()">
                <span>{{board.boardName}}</span>
                <svg class="w-6 h-6 text-gray-500"  fill="currentColor" viewBox="0 0 24 24"  [ngClass]="{ 'text-yellow-500': board.stared}" (click)="changeStar(board._id)">
                    <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/>
                </svg>
            </div>
        </div>
    </div>
</div>