  .sidebar-content {
    width: 16rem;
    background-color: white;
    /* border: none; */
    
  }
  
  .sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    
  }
  
  .header {
    background-color: white;
    padding: 0 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-bottom-left-radius: -555px;
  }
  
  .tasks {
    max-height:410px; 
    overflow-y: auto; 
  }
  .tasks::-webkit-scrollbar {
    width: 8px;
    background: #f1f1f1;
  }
  .tasks::-webkit-scrollbar-thumb {
    background-color: #d9d5f7;
    border-radius: 10px;
    border: 3px solid #f1f1f1;
  }