<div class="board p-6 mb-4">
  <div class="flex justify-between items-center mb-4">
    <div>
      <nav class="text-gray-500 text-sm mb-2">
        <span>Workspace</span> / <span>{{workspace.name}}</span> / <span>{{boards.name}}</span>
      </nav>
      <h1 class="text-3xl font-bold text-gray-900">{{boards.name}}</h1>
      <div class="flex items-center mt-4">
        <div class="flex -space-x-2">
          <ng-container *ngFor="let user of boards?.members; let i = index">
            <img class="w-8 h-8 rounded-full border-2 border-white" src="" alt="User 1" *ngIf="i < 3">
          </ng-container>
          <div *ngIf="boards?.members.length > 4" class="w-8 h-8 rounded-full border-2 border-white bg-gray-400 flex items-center justify-center text-sm font-medium text-white">
            +{{boards?.members.length - 4}}
          </div>
        </div>
      </div>
    </div>
    <div class="flex space-x-4">
      <button class="bg-white border border-gray-300 px-2 rounded-md shadow-sm">
        <i class="fa-regular fa-star text-gray-400"></i>
      </button>
      <button class="bg-white border border-gray-300 px-2 rounded-md shadow-sm">
        <i class="fa-solid fa-trash text-gray-400"></i>
      </button>
      <button class="border border-gray-300 p-2 rounded-md shadow-sm flex items-center justify-center">
        <mat-icon class="text-gray-400">video_call</mat-icon>
      </button>
    </div>
  </div>

  <div cdkDropListGroup class="relative w-full h-auto grid gap-4 grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
    <ng-container *ngFor="let column of columns; let i = index">
      <div class="column p-4 rounded-md group flex-1" cdkDropList [cdkDropListData]="column.cards || []" (cdkDropListDropped)="drop($event)" [id]="'cdk-drop-list-' + column._id">
        <div class="flex justify-between border-b-2 p-2 w-full border-black">
          <h2 class="text-xl w-full ">{{column.columnName}}</h2>
          <mat-icon class="">more_horiz</mat-icon>
        </div>
        <div class="flex flex-col gap-1  mt-2 border overflow-auto tasks" *ngIf="column.cards && column.cards.length > 0">
          <div *ngFor="let card of column.cards" cdkDrag [cdkDragData]="card" >
            <app-task-card [card]="card"></app-task-card>
          </div>
        </div>
        <div class="flex justify-between my-4 ml-2 items-center gap-4 w-full sm:w-1/2 md:w-1/4" *ngIf="addingCardIndex==i">
          <input type="text"
                 placeholder="Enter the task"
                 class="outline-customBlue outline-2 outline rounded-sm p-1 hover:bg-gray-100 focus:bg-white w-[90%] md:w-auto"
                 [(ngModel)]="newCardName">
          <div class="z-10 flex gap-2 w-[100px] bg-white h-[30px]">
            <div class="p-2 h-full border shadow-md flex justify-center items-center" (click)="confirmAddCard(i, column._id)">
              <i class="fa-solid fa-check"></i>
            </div>
            <div class="p-2 h-full border shadow-md flex justify-center items-center" (click)="cancelAddCard()">
              <i class="fa-solid fa-xmark"></i>
            </div>
          </div>
        </div>
        <button class="mt-2 bg-gray-100 w-full rounded-md px-4 py-2 text-gray-400 hidden group-hover:block" *ngIf="addingCardIndex!==i" (click)="addCard(i)">Add Card</button>
      </div>
    </ng-container>
    <div class="flex justify-between  items-center gap-4 w-full sm:w-1/2 md:w-1/4" *ngIf="addingColumn">
      <input type="text"
             placeholder="Enter the task"
             class="outline-customBlue outline-2 outline rounded-sm p-1 hover:bg-gray-100 focus:bg-white w-[90%] md:w-auto"
             [(ngModel)]="newColumnName">
      <div class="z-10 flex gap-2 w-[100px] bg-white h-[30px]">
        <div class="p-2 h-full border shadow-md flex justify-center items-center" (click)="confirmAddColumn()">
          <i class="fa-solid fa-check"></i>
        </div>
        <div class="p-2 h-full border shadow-md flex justify-center items-center" (click)="cancelAddColumn()">
          <i class="fa-solid fa-xmark"></i>
        </div>
      </div>
    </div>
  </div>

  <button *ngIf="!addingColumn" class="bg-customBlue fixed bottom-10 right-10 text-white text-center px-2 py-2 md:px-6 md:py-3 rounded-full float-end flex items-center gap-2" (click)="showAddColumnInput()">
    <i class="fa-regular fa-square-plus"></i> New Task
  </button>
</div>
